.block {
    padding: 16px;
    text-align: center;
    height: 150px;
    cursor: pointer;
}
.yellow {
    background-color: yellow !important;
}
.orange {
    background-color: orange !important;
}
.blue {
    background-color: blue !important;
}
